<h1>Stores</h1>

<p *ngIf="!stores" class="glyphicon glyphicon-refresh spinning"><em>Loading...</em></p>

<ul class='list-group' *ngIf="stores">

    <li *ngFor="let store of stores" (click)="onSelect(store)" class="list-group-item" [ngClass]="{active: store === selectedStore}">
        <span>{{store.name}}</span>
        <span>{{store.description}}</span>
    </li>
</ul>
<br/>

<div *ngIf="selectedStore" class="">
    <h3 >Articles of {{selectedStore.name}}</h3>
    <table class='table' *ngIf="articles">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Total in Shelf</th>
                <th>Total in Vault</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles" (click)="onSelect(article)">
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.total_in_shelf }}</td>
                <td>{{ article.total_in_vault }}</td>
                <td>{{ article.price }}</td>
            </tr>
        </tbody>
    </table>
</div>